[submodule "shopflow_backend"]
	path = shopflow_backend
	url = https://github.com/ShahinulRafi/shopflow_backend.git
[submodule "shopflow_frontend"]
	path = shopflow_frontend
	url = https://github.com/ShahinulRafi/shopflow_frontend.git
